/* Override Prism styles */
code, code .token {
  margin: 0 !important;
  text-shadow: none !important;
  color: inherit !important;
}

code.language-python {
  overflow-x: auto;
}

code {
  display: block;
  background: #1f1f1f;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 2px solid rgba(212, 212, 212, 0.7);
  white-space: pre;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
  font-size: 1rem !important;
  text-align: left;
  line-height: 1.35 !important;
}

/* Python syntax highlighting colors for dark theme from VS Code Dark Modern */
code .token.comment { color: #6A9955 !important; }
code .token.operator { color: #D4D4D4 !important; }
code .token.operator.keyword { color: #569CD6 !important; }  /* the word-operators and, or, not, is */
code .token.punctuation { color: #CCCCCC !important; }  /* square brackets, parentheses, etc. - should actually take into account nesting */
code .token.number { color: #B5CEA8 !important; }
code .token.keyword { color: #C586C0 !important; }
code .token.boolean { color: #569CD6 !important; }
code .token.string { color: #CE9178 !important; }
code .token.variable { color: #9CDCFE !important; }
code .token.constant { color: #4FC1FF !important; }
code .token.function, code .token.builtin, code .token.function-call { color: #DCDCAA !important; }
code .token.class-name, code .token.type { color: #4EC9B0 !important; }
code::selection, code .token::selection { background: #667B8F !important; }